$accentColor = #ff4757;
$textColor = #2c3e50;
$borderColor = #eaecef;
$codeBgColor = #282c34;

// 代码库重置
.content pre {
    margin: 0 !important;
}

h1 {
    // color: #000000
}

h2 {
    font-size: 2rem;
    color: #5352ed;

    a {
        color: #5352ed;
    }
}

h3 {
    font-size: 1.2rem;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
}

h4 {
    color: #6196CC;
    font-size: 14px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

blockquote {
    padding: 0.5rem 1.5rem;
    border-left-width: 0.5rem;
    border-left-style: solid;
    margin: 1rem 0rem;
    background-color: #f3f5f7;
    border-color: #42b983;
    color: black;
}

blockquote p {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 0px;
    margin-right: 0px;
}

textarea {
    resize: none;
    border-radius: 6px;
    display: block;
    padding: 9px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.8rem;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

textarea:focus {
    resize: auto !important;
    border: 1px solid rgb(31, 116, 255) !important;
    outline: none !important;
    box-shadow: 0 0 2px #719ECE;
}

@font-face {
    font-family: 'Pigpen Cipher';
    src: url('/fonts/PigpenCipher.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Hymmnos';
    src: url('/fonts/Hymmnos.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
